# Eclipse
.classpath
.metadata/
.settings/
.project

# NetBean
bin/

# Subversion and CVS
.svn/
.cvs/
.git/

# Maven
target/

# Compiled files
*.class
*.o
*.a
*.lib
*.dll
*.exe

# Temp files
*.bak
*~
